*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-image: linear-gradient(135deg, #0b071f, #0F2027,#203A43);
  /*background-color: #161616;*/
  font-family: 'Ubuntu', sans-serif;
}
.nav-icons li{
  list-style: none;
  font-size: 20px;
}

.username{
  color: #BED2FA;
  font-size: 25px;
}
.nav-icons a{
  text-decoration: none;
  color: #1e67fa;
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-icons a:hover{
  color: #94b7ff;
  font-size: 25px;
}

.nav-icons{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 70%;
  letter-spacing: 1px;
  font-weight: bold;
}

.breaks{
  display: none;
}

.breaks div{
  width: 25px;
  height: 5px;
  background-color: #c7d5e8;
  margin: 2px;
  cursor: pointer;
  transition: all 0.4s ease
}

@media screen and (max-width:1024px) {
  .nav-icons{
    width: 60%;
  }
}

@media screen and (max-width:1000px) {
  body{
    overflow-x: hidden;
  }
  .nav-icons{
    position: absolute;
    left: 0px;
    height: 100vh;
    top: 12vh;
    background-image: linear-gradient(135deg, #0b071f, #0F2027,#203A43);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav-icons li{
    opacity: 0;
  }
  .breaks{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .bk1{
  transform: rotate(-45deg) translate(-5px,5px);
  background-color: #91ACD2;
}
.toggle .bk2{
  opacity: 0;
}
.toggle .bk3{
  transform: rotate(+45deg) translate(-5px,-5px);
  background-color: #91ACD2;
}

.main-content {
  padding-left: 10px;
  background-image: linear-gradient(135deg,#224080, #0F2027, #17323d, #17323d,#3b4a6b);
  font-family: 'Open Sans', sans-serif;
  color: white;
  transition: 1.3s ease;
}

.main-content-active{
  padding-left: 30%;
  transition: 0.45s ease;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #0F2027;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #612f80;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #45205c;
}
