.main-heading{
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
}
.change-links{
  font-size: 18px;
  color: #1e67fa;
  padding: 4px;
  transition: 0.3s
}
.change-links:hover{
  font-size: 20px;
  color: #1e67fa;
  font-weight: bolder;
  padding: 4px;
  transition: 0.3s;
}

table {
 width: 500px;
 border-collapse: collapse;
 overflow: hidden;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
 border-radius: 5px;
}

td {
 padding: 15px;
 background-color: rgba(0, 0, 0, 0.1);
 color: #B3E5FC;
}

th {
 text-align: left;
 font-weight: bolder;
 padding: 15px;
}
.watchlist-rows{
  transition: 0.2s
}
.watchlist-rows:hover{
  background-color: #40888f;
}
thead {
  background-color: rgba(127, 64, 222, 0.3);
  color: white;
  border: 2px solid #B388FF;
}

tbody {
   background-color: rgba(0, 0, 0, 0.2);
   border: 2px solid #B3E5FC;
}

.main-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  min-width: 0;
  min-height: 0;
}
@media screen and (max-width: 1000px) {
  .main-wrapper{
    display: block;
  }
}
.summary-table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid grey;
  max-width:100vw;
  box-sizing:border-box;; /* Don't forget this !*/
}

.line-chart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid grey;
  max-width:100vw;
  box-sizing:border-box;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 4;

}

.pie-chart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid grey;
  max-width:100vw;
  box-sizing:border-box;
}

.bar-chart-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid grey;
  max-width:100vw;
  box-sizing:border-box;
  overflow: hidden;
}
