.main-heading{
  text-align: center;
  color: white;
  font-size: 30px;
}

.main-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  min-width: 0;
  min-height: 0;
}
@media screen and (max-width: 1000px) {
  .main-wrapper{
    display: block;
  }
}

table {
 margin-left: auto;
 margin-right: auto;
 width: 500px;
 border-collapse: collapse;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
 border-radius: 5px;
}

td {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #4ed48a;
}

th {
  text-align: left;
  font-weight: bolder;
  padding: 15px;
}

thead {
  background-color: rgba(27, 97, 1, 0.3);
  color: white;
  border: 1px solid #27db2a;
}

tbody {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #27db2a;
}

.table-container{
  overflow-y: auto;
  height: 50vh;
}

.table-container thead, th{
  color: white;
  padding: 15px;
}

.watchlist-rows{
  transition: 0.2s
}
.watchlist-rows:hover{
  background-color: #40888f;
}
.watchlist-name-title{
  color: #6397ff;
  font-weight: bolder;
  font-size: 40px;
}
.watchlist-name-ticker{
  color: #2ed95b;
  font-weight: bolder;
  font-size: 35px;
}

.btn-select{
  color:black;
  border-radius: 5px;
  border: 1px solid #02610f;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
}
.btn-select:hover{
  background-color: #02610f;
  color: white;
  transition: 0.7s;
}
