table {
 margin-left: auto;
 margin-right: auto;
 width: 500px;
 border-collapse: collapse;
 overflow: hidden;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
 border-radius: 5px;
}

td {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #B3E5FC;
}

th {
  text-align: left;
  font-weight: bolder;
  padding: 15px;
}

thead {
  background-color: rgba(30, 90, 252, 0.3);
  color: white;
  border: 2px solid #B3E5FC;
}

tbody {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #B3E5FC;
}

.watchlist-rows{
  transition: 0.2s
}

.watchlist-rows:hover{
  background-color: #40888f;
}

.summary-table-container{
  height: 42vh;
  overflow-y: scroll;
}

.all-trades{
  width: 90%;
}

.main-heading{
  text-align: center;
  font-size: 30px;
}

.action{
  color:white;
  border-radius: 5px;
  background-color: black;
  padding: 2px;
}

.btn-new-wl{
  color:black;
  border-radius: 5px;
  border: 2px solid #081682;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
}

.btn-new-wl-item{
  color:black;
  border-radius: 5px;
  border: 2px solid #081682;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
  margin-left: 70px;
}

.btn-new-wl-item:hover{
  background-color: #081682;
  color: white;
  transition: 0.7s;
}

.btn-new-wl:hover{
  background-color: #081682;
  color: white;
  transition: 0.7s;
}

.selection-label{
  margin-left: 70px;
}

.danger{
  color:black;
  border-radius: 5px;
  border: 2px solid #081682;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
}

.danger:hover{
  background-color: #081682;
  color: white;
  transition: 0.7s;
}

.watchlist-name-title{
  color: #6397ff;
  font-weight: bolder;
  font-size: 40px;
}

.filter-bar {
  border-radius: 8px;
}

.filter-bar2 {
  border-radius: 8px;
}

.all-securities-table-container{
  height: 70vh;
  overflow-y: scroll;
}
.security-rows{
  transition: 0.2s
}

.security-rows:hover{
  background-color: #40888f;
}

.Welcome2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.main-heading2{
  font-size: 30px;
}

.create-watchlist {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
}

.create-watchlist a{
  transition: 0.3s;
  color: #43a1e8;
  border-bottom: #46eb7a 1px solid;
  text-decoration: none;
  list-style-type: none;
}

.create-watchlist a:hover{
  transition: 0.3s;
  font-weight: bold;
  border-bottom: #46eb7a 2px solid;
}
