{% extends 'base_layout.html' %}

{% block header %}
  <h1>{% block title %}THIS IS WHERE YOU CREATE A NEW SECURITY{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="quantity">Quantity</label>
    <input name="quantity" id="quantity" value="{{ request.form['quantity'] }}" required>
    <label for="price">Price</label>
    <input name="price" id="price" value="{{ request.form['price'] }}" required>
    <label for="sector">Sector</label>
    <input name="sector" id="sector" value="{{ request.form['sector'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
