<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard-styles.css') }}">

{% extends 'base_layout.html' %}
{% block header %}
  <h1 class="main-heading">{% block title %}THIS IS THE DASHBOARD{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Average Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in table1 %}
      <tr class="watchlist-rows">
        <td class="c2">{{item.name}}</td>
        <td class="c3">{{item.quantity}}</td>
        <td class="c3">{{item.price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if g.user %}
    <a class="action" href="{{ url_for('Dashboard.create') }}"><span class="change-links">Add to Watchlist</span></a>
  {% endif %}
  {% for item in watchlist %}
    <article class="securities">
      <header>
        <div>
          <h1>Order ID: {{ item['id'] }}</h1>
          <h4>Name: {{ item['name'] }} </h4>
          <p>Quantity: {{ item['quantity'] }} Price: {{ item['price'] }}</p>
          <div class="details">Created: {{ item['created'].strftime('%d-%m-%Y') }}</div>
        </div>
        {% if g.user['id'] == item['holder_id'] %}
          <a class="action" href="{{ url_for('Dashboard.update', id=item['id']) }}"><span class="change-links">Edit</span></a>
          <br>
          <br>
          <form action="{{ url_for('Dashboard.delete', id=item['id']) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
          </form>
        {% endif %}
      </header>
      <p class="comments">Comments: {{ item['comments'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
